# Node.js dependencies
node_modules/

# Environment variables
.env

# Build output
build/
dist/

# IDE/Editor specific files
.vscode/
.idea/

# Logs
logs/
*.log

# Dependency lock files
yarn.lock
package-lock.json

# Testing
coverage/

# Compiled files
*.bundle.js
*.bundle.js.map

# IDE/Editor configuration
*.iml
*.ipr
*.iws
*.idea/

# Mac specific files
.DS_Store
