.profileCard {
    width: 17em;
    max-height: 30em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    overflow: hidden;
    align-items: center;
    background-color: grey;
  }
  
  .profileCardBanner {
    width: 100%;
    height: 8em;
    /* background-color: attr(data-color); */
    background-color: attr(data-color);
}

.profileCardDp {
    transform: translate(0, -50%);
    width: 6em;
    border-radius: 100%;
    border: 5px solid white;
  }
.profileCardDetails{
    text-align: center;
    transform: translateY(-70%);
}
.profileCardBreak{
    width:90%;
    height: 5px;
    background-color: #444531;
    transform: translateY(-300%);
}
.profileCardDetails2{
    margin-bottom: 2em;
}