.newsCard{
    display: grid;
    width: 100%;
    max-width:55em;
    background-color: var(--primary-color);
    border-radius: 1em;
    /* overflow: hidden; */
    grid-template-rows: 1fr auto;
    gap: 1em;
    padding: 1em;
}
