.homeContainer{
    display: grid;
    grid-template-columns: 2fr 6fr 15em;
    grid-template-areas: "profile blog event";
    min-height: 100vh;
    padding: 1em 1em;
    gap: 1em;
}
.profileSection {
    grid-area : profile;
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.blogSection {
    grid-area : blog;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* height: 20rem; */
}
.eventSection {
    width: 100%;
    grid-area : event;
}
@media screen and (max-width:1200px){
    .homeContainer{
        grid-template-areas: "profile blog"
                            "event blog"
                            "none blog";
        grid-template-columns: 15em 1fr;
        grid-template-rows:auto auto;
    }
}
@media screen and (max-width: 700px) {
    .homeContainer{
        grid-template-areas: "event"
        "blog"
        "profile";
        grid-template-columns:1fr;
    }
    .eventSection ::before{
        content: "";
        width: 100%;
        height: .5px;
        background-color: black;
    }
    .eventSection ::after{
        content: "";
        width: 100%;
        height: 1px;
        color: black;
        background-color: black;
        margin-bottom: .5em;
    }
}